body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

#navi {
    border-radius: 10px;
}

h1 {
    color:black;
    padding-top: 15px;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#kimg {
    border-radius: 15%;
    padding: 30px;

}

#kdiv {
    background-color:black; 
    border-radius: 5px; 
    width: 900px; 
    font-style: oblique;
    font-weight: bold;
    font-size:20px;
    color: azure;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 10px grey;  */
    background-color:#292b2c;
    /* border-radius: 5px; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#8d8d8d; 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f5f3ef; 
  }